@charset "utf-8";
/* CSS Document */

@import 'https://fonts.googleapis.com/css?family=Space+Mono|Righteous';

@font-face {
	font-family: 'righteous_local';
	src: url("../assets/Righteous-Regular.ttf") format('truetype');
}

@font-face {
	font-family: 'spaceMono_local';
	src: url("../assets/SpaceMono-Regular.ttf") format('truetype');
}

body {
	min-width:600px;
	margin: 0;
	font-family: 'Space Mono', 'spaceMono_local', sans-serif;
    font-size: 18px;
    color: #fff9ff;
  	text-align: center;
    background:
      /* On top: gradient */
      linear-gradient(
        rgba(76, 103, 0, 0.75),
        rgba(76, 0, 0, 0.45)
      ),
      /* On bottom, image */
      url(../assets/bkgr.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	width: 500px;
	margin: auto;
	padding: 10px;
}

ul {
	width: 400px;
	font-size: 80%;
	margin: auto;
	text-align: left;
	padding: 10px;
}

input[type="number"] {
	width:40px;
	background:none;
	border-style:solid;
	border-color:#C3D8C1;
	border-radius:4px;
	color: inherit;
	font-family: inherit;
}

input[type="text"] {
	width:100px;
	background:none;
	border-style:solid;
	border-color:#C3D8C1;
	border-radius:4px;
	color: inherit;
	font-family: inherit;
	text-align: center;
}

input[type="password"] {
	width:100px;
	background:none;
	border-style:solid;
	border-color:#C3D8C1;
	border-radius:4px;
	color: inherit;
	font-family: inherit;
	text-align: center;
}

label.btn input[type="file"] { /* this hides the original upload button. */
    position: fixed;
    top: -1000px;
}

/* styles buttons */
.btn {
		border: 4px solid #C3D8C1;
	  border-radius: 4px;
	  padding: 4px 10px;
	  margin: 2px;
	  background: #73A46F;
	  display: inline-block;
		cursor: pointer;
}
.btn:hover {
    border: 4px solid #EDF4ED;
}
.btn:active {
	background: #486745;
	border: 4px solid #C3D8C1;
}
.btn :invalid + span {
    color: #D61121;
}

.runBtn {
	border: 8px solid #CFA1A5;
    border-radius: 0px;
    padding: 6px 15px;
    margin: 2px;
    background: #DA717A;
    display: inline-block;
	cursor: pointer;
}
.runBtn:hover {
    border: 8px solid #EDB8BD;
}
.runBtn:active {
    background: #88474C;
	border: 8px solid #EDB8BD;
}

.roundBtn {
	border: 6px solid #EDB8BD;
	width: 50px;
	height: 50px;
	font-family: "Righteous", "righteous_local", sans-serif;
	font-size: 80px;
  border-radius: 100%;
  background: #DA717A;
	cursor: pointer;
	position: fixed;
	left: 85%;
	top: 45%;
	display: inline-block;
}
.roundBtn:hover {
    border: 6px solid #EDB8BD;
}
.roundBtn:active {
    background: #88474C;
	border: 6px solid #EDB8BD;
}

.headTitle {
    font-family: 'Righteous', 'righteous_local', sans-serif;
  	text-align: center;
    font-size: 500%;
    margin: auto;
	cursor: pointer;
	padding: 100px;
}

.mainText a {
	text-shadow: 3px 3px 1.5px #C3DAC2;
}

.mainText a:hover {
    color: #FBBAB2;
}

.app {
	border: 8px solid #73A46F;
    border-radius: 4px;
	background-color: rgba(30, 80, 0, 0.6);
	font-size: 90%;
	width: 80%;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	padding: 30px;
}

.app a {
	text-shadow: 2px 2px 1px #E29F97;
}

.app a:hover {
    color: #9CD49A;
}

.bottom {
	font-size: 80%;
	height: auto;
	background-color: rgba(90, 0, 0, 0.5);
	padding-top: 30px;
	padding-bottom: 80px;
}

.bottom a {
	text-shadow: 2px 2px 1.5px #E29F97;
}

.bottom a:hover {
    color: #9CD49A;
}

.bottom p {
	width: 80%;
}

.bottom img {
	margin-bottom: 20px;
}

.tooltip{
    display: inline;
    position: relative;
}

.tooltip:hover:after{
    background: rgba(50,50,10,1);
    border-radius: 10px;
    top: 60px;
    left: -30%;
    padding: 10px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
	content: attr(tipTxt);
	text-shadow: none;
	color: #fff9ff;
}

.tooltip:hover:before{
    border: solid;
    border-color: #32320A transparent;
    border-width: 0px 10px 10px 10px;
    top: 50px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #458A45;
    margin: auto;
    padding: 0;
    border: 8px solid #888;
	border-radius: 3px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.modal-in {
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}

.modal-out {
	-webkit-animation-name: animatetopOut;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetopOut;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@-webkit-keyframes animatetopOut {
    from {top:0; opacity:1}
    to {top:-300px; opacity:0}
}

@keyframes animatetopOut {
	from {top:0; opacity:1}
    to {top:-300px; opacity:0}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 20px 20px;}

.modal-footer {
    padding: 16px 16px;
    background-color: #5cb85c;
    color: white;
}

a.pcr:hover {
	color: #FEB36E;
}

.small {
	font-size: 80%;
	color:#DFDADF;
}

.fileList {
	font-size: 80%;
	text-align: left;
	width: 600px;
	margin: auto;
}

.hidden {
	display: none;
	opacity: 0;
}

.column-left{
	float: left;
	width: 33%;
	text-align: left;
}
.column-right{
	float: right;
	width: 33%;
	text-align: left;
}
.column-center{
	display: inline-block;
	width: 33%;
	text-align: left;
}
.head {
	text-align: center;
	font-weight:bolder;
}
.container {
	width: 600px;
	margin: auto;
	padding-bottom: 20px;
}
.container p {
	width: 180px;
}

.expand {
  -moz-transition: height .5s;
  -ms-transition: height .5s;
  -o-transition: height .5s;
  -webkit-transition: height .5s;
  transition: height .5s;
  height: 0;
  overflow: hidden;
}

#controls p {
	width: 90%;
}

#controls {
	width: 75%;
	padding: 12px;
	margin: auto;
	background-color: rgba(32, 58, 32, 0.7);
	border-radius: 5px;
}

#titLeft {
	color: #E6FCE5;
}

#titRight {
	color: #FCF0E5;
}

#upBtn {
	position: absolute;
	top: -7px;
	left: 13px;
}
