<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>GeneTargeter</title>
		<!--link rel="apple-touch-icon" sizes="57x57" href="static/assets/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="static/assets/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="static/assets/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="static/assets/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="static/assets/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="static/assets/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="static/assets/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="static/assets/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="static/assets/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="static/assets/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="static/assets/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="static/assets/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="static/assets/favicon/favicon-16x16.png">
		<link rel="manifest" href="static/assets/favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="static/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff"-->
		<link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">

		<link rel="stylesheet" href="static/css/style.css">
		<script src="static/js/main.js"></script>
		<script src="static/js/EPPZScroll.js"></script>
	</head>

	<body onload="init()" onscroll="scrollEvt()">
		<label class="roundBtn hidden" id="backToTopBtn" onclick="EPPZScrollTo.scrollVerticalToElementById('Title', 0)">
			<span>^</span></label>

		<div class="headTitle" id="Title" onclick="EPPZScrollTo.scrollVerticalToElementById('App', 50)">
			<span id="titLeft">Gene</span><span id="titRight">Targeter</span>
		</div>

		<div class="mainText">
			<p>
	            Creates a construct based on the pSN054 (updated) V5 tagged plasmid
	            developed by the
	            <a href="http://web.mit.edu/nileslab/" target="_blank">Niles Lab at MIT</a>,
	            designed to deliver a 3' UTR post-transcriptional regulatory element
	            payload to a specific given gene in <a href="http://www.who.int/mediacentre/factsheets/fs094/en/" target="_blank"><i>Plasmodium falciparum</i></a>.
	        </p>
	        <p>
	            Future plans include custom plasmids, automatic gRNA selection, and
	            generalization to inserting elements into any chromosomal DNA
	            sequence of any sequenced eukaryote.
			</p>
		</div>

		<div id="App" class="app" onload="init()">
			<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
			<!--FALLBACK SOCKET.IO LOCAL <script type="text/javascript" src="static/js/socket.io.min.js"></script> -->
			<script src="static/js/socketHandler.js"></script>
			<!--script src="static/js/app.js"></script-->
			<p>
				Upload a
				<a href="https://benchling.com" class="tooltip" target="_blank"
					tipTxt="A GenBank file (.gb) can
					be downloaded from Benchling clicking on the Information
					icon on the righthand tool menu and scrolling to the
					'Download' section.">
					GenBank file</a>
				annotated with the gene's sequence
				<a href="https://benchling.com" class="tooltip" target="_blank"
					tipTxt="Benchling displays 5'->3'
					annotations from left to right on the top strand. If your
					gene appears from right to left on the bottom strand, you
					can select the whole sequence -> right click -> Copy Special
					-> Reverse Complement -> paste in new file.">
					in 5'->3' sense</a>
				and all
				<a href="https://benchling.com" class="tooltip" target="_blank"
					tipTxt="You can use Benchling's CRISPR tool, but you must
					create annotations on the sequence for all the gRNAs to be
					considered by GeneTargeter.">
					CRISPR guide RNAs</a>
				to be included in targeting. The
				guide RNAs should contain "gRNA" in the label and
				<a href="https://benchling.com" class="tooltip" target="_blank"
					tipTxt="i.e., your best-ranked gRNA should be labeled
					'MyGene gRNA 1', your second best should be 'MyGene gRNA
					2, etc.'" class="tooltip">
					a number</a>
				indicating their preferred order. The gene's annotation name
				should be the same as the file name. Additionally you may annotate
				hand-picked left and right homologous regions on your file, if
				you do not want GeneTargeter to choose them automatically for you.
			</p>
			<span class="small" id="controls">
				<p>
					Automatically pick homologous regions?
					<input class="chkBox" type="checkbox" checked id="HRannChkBox">
					<br><br>
					Left chromosomal integration homologous region size:<br>
					Minimum: <input class="txtInput" type="number" id="LHRMin" value="450"> bp &nbsp
					Preferred: <input class="txtInput" type="number" id="LHRPref" value="500"> bp &nbsp
					Maximum: <input class="txtInput" type="number" id="LHRMax" value="650"> bp &nbsp
					<br>
					Right chromosomal integration homologous region size:<br>
					Minimum: <input class="txtInput" type="number" id="RHRMin" value="450"> bp &nbsp
					Preferred: <input class="txtInput" type="number" id="RHRPref" value="500"> bp &nbsp
					Maximum: <input class="txtInput" type="number" id="RHRMax" value="750"> bp &nbsp
					<br>
					Gibson Assembly homologous region size:<br>
					Minimum: <input class="txtInput" type="number" id="gibMin" value="30"> bp &nbsp
					Preferred: <input class="txtInput" type="number" id="gibPref" value="40"> bp &nbsp
					Maximum: <input class="txtInput" type="number" id="gibMax" value="50"> bp &nbsp
					<br>
					Minimum gene fragment size:
					<input class="txtInput" type="number" id="chromMin" value="250"> bp
				</p>
			</span>
			<p>
				<label class="btn" ><input type="file" id="geneFileForm" accept=".gb" multiple size="50" onchange="uploadFile()">
					<span> Upload .gb files </span></label>
			</p>
			<p>
				<div class="fileList" id="selectedFiles"></div>
			</p>
			<p>
				<label class="runBtn" id="run" onclick="askCredentials()">
					<span> Target gene! </span></label>
			</p>

			<div id="myModal" class="modal">

			  <!-- Modal content -->
			  <div class="modal-content" id="modContent">
			    <div class="modal-header">
			      <span class="close" onclick="closeModal()">×</span>
			      <h2>Hold up though...</h2>
			    </div>
			    <div class="modal-body">
					<p>
					  GeneTargeter uses DNA sequences that are currently not
					  available to the public. The full software will be
					  publicly available in the near future.
					</p>
					<p>
					  If you have the credentials to download the output, input
					  your passcode here:
					</p>
					<p>
						<input type="password" id="passcode" value="">
					</p>
					<p>
						<label class="runBtn" id="submitPassword" onclick="verifyCredentials()">Submit</label>
					</p>
			    </div>
			    <div class="modal-footer" id="modFooter">
			      <h3>Type passcode</h3>
			    </div>
			  </div>

			</div>

			<p>
				<div class="fileList" id="outputLog"></div>
			</p>
			<p>
				For every gene uploaded, GeneTargeter outputs
				<ul>
					<li>
						<b>a GenBank file</b> containing the given gene annotated with
						the chosen left and right homologous regions
					</li>
					<li>
						<b>a GenBank file</b> containing the fully annotated plasmid
						vector designed to target the given gene.
					</li>
					<li><b>a text file</b> containing primers,
						gene fragment sequences and Klenow reaction oligos designed to
						assemble the new plasmid using
						<a href="https://dx.doi.org/10.1038/nmeth.1318" target="_blank">Gibson Assembly</a>.
					</li>
					<li>
						<b>a text file</b> containing a message log and warnings
						issued during the <i>in silico</i> design process.
					</li>
				</ul>
			</p>
		</div>

		<div class="bottom">
			<a href="http://web.mit.edu/nileslab/" target="_blank">
				<p>
					<img src="static/assets/WhiteLogoNilesLab.png" width="400px">
				</p>
				<p>
					<img src="static/assets/roundLogoNilesLab.png" width="400px">
				</p>
			</a>
			<p>
	            Background Image:
	            <a href="https://commons.wikimedia.org/wiki/File:Plasmodium_falciparum_in_a_patient_presenting_with_pyrexia_and_headache.jpg" target="_blank">
	                <i>Plasmodium falciparum in a patient presenting with pyrexia and
	                headache.</i> O. Erhabor (2013)</a>
	            <br>
	            <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en" target="_blank">
	                CC BY-SA 3.0</a>
	        </p>
	        <p>
	            Code: <a href="http://opensource.org/licenses/MIT" target="_blank">
					MIT License</a>, appropriately.
				<br>
				<a href="https://github.com/pablocarderam/GeneTargeter" target="_blank">
					GitHub src here. Except it isn't because we can't publish it yet.</a>
	            <br>
	            Developed by Pablo Cárdenas Ramírez
	            <br>
	            <a href="mailto:pablocarderam@gmail.com?Subject=Hi%20there" target="_top" class="pcr">
					pablocarderam@gmail.com</a>
			</p>
		</div>
	</body>
</html>
